body {
  margin: 0;
  background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column; /* Change from row to column */
  justify-content: flex-start; /* Align items to the top */
  align-items: center;
  width: 80%;
  padding: 20px;
}

.gameEntryPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.center-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}

/* Styles for at-bat selection */
.at-bat-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2em;
}

select {
  padding: 5px;
  font-size: 1em;
}

.ok-button {
  padding: 5px 10px;
  font-size: 1em;
}
